/* src/components/Header/Header.module.css */

.mainNav {
  background-image: linear-gradient(to right, #c8d3e4, #b0b9ca);
  color: white;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

.navLink {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
