/* src/pages/LoginPage/LoginPage.module.css */

.container {
  max-width: 400px;
  margin: 6rem auto;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  color: #333;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: #555;
}

.input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 0.25rem;
}

.button {
  padding: 1rem 2rem;
  background-color: var(--button);
  color: var(--white);
  font-weight: bold;
  font-size: 1.125rem; /* 18px */
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.button:hover {
  background-color: var(--button-hover);
}
